@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";
body {
    font-family: "Roboto", sans-serif;
}
:root {
    font-size: 16px;
}
.wrapper {
    max-width: 1430px;
    margin: 0 auto;
}
h2 {
    font-size: 2.5rem;
    color: $gray;
}
.like {
    width: 40px !important;
    height: 40px !important;
    background-color: $gray !important;
    position: relative;
    border: none;
    transition: 0.2s ease;
    &-image {
        fill: $white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover {
        background-color: $gray-hover !important;
    }
    &:focus {
        background-color: $gray-hover !important;
    }
}
.section-main {
    background-image: url(../img/bg-main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 41px;
}
.main {
    &-content {
        text-align: center;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        padding-bottom: 171px;
        margin-top: 173px;
        &__title {
            font-size: 3.72rem;
            color: $white;
            font-weight: 700;
            letter-spacing: 0.005em;
            width: 850px;
            margin-bottom: 31px;
        }
        &__description {
            width: 550px;
            color: $white;
            font-weight: 500;
            margin-bottom: 41px;
        }
        &__btn {
            background-color: $white;
            padding: 20px 51px;
            color: $gray;
            transition: 0.2s ease;
            letter-spacing: 0.2rem;
            &:hover {
                color: $gray-hover;
            }
        }
    }
}
.btn {
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: none;
    border-radius: 0px;
    font-size: 1.12rem;
}
a.active:focus,
a.active.focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}
.slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 34px;
    button {
        text-indent: -9999px;
        width: 9px;
        height: 9px;
        background-color: $white;
        opacity: 0.5;
        outline: none;
        border: none;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0px;
    }
}
.slick-dots li[class="slick-active"] button {
    opacity: 1;
}
.section-filter {
    margin-bottom: 131px;
}
.value {
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -20px;
    width: 40px;
    text-align: center;
    display: block;
}
.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ui-selectmenu-button {
    border-radius: 0;
    text-align: center;
    width: 320px !important;
    height: 60px;
    margin-right: -2.5px;
    margin-left: -2.5px;
    margin-bottom: 30px;

    &:hover {
        background-color: $white;
        border: 1px solid $gray;
        background-image: inherit;
    }
    &:focus {
        background-color: $white;
        border: 1px solid $gray;
        background-image: inherit;
    }
    &-closed {
        background-color: inherit;
        background-image: inherit;
        border: 1px solid $gray;
        text-align: center;
    }
}

.ui-selectmenu {
    &-text {
        text-align: center;
    color: $gray;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    position: relative;
    margin-right: 73px;
    margin-top: 12px;
    padding-right: 23px;

        &:hover {
            color: $gray-hover;
        }
    }
    &-icon {
        background-image: url(../img/arrow.svg) !important;
        transform: rotate(90deg);
        position: absolute;
        width: 31px;
        height: 37px;
        right: 96px;
        background-position: 8px 4px;
        background-size: 20px 17px;
        margin-left: 52px;
   
    }
}
.ui-selectmenu-button-open .ui-selectmenu-icon {
    transform: rotate(-90deg);
}
.ui-menu {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    border: none !important;
}
.ui-menu-item-wrapper {
    border: none !important;
    &:hover {
        color: $gray-hover;
    }
}
.ui-state-active {
    margin: 0 !important;
}

.form-item {
    &__label {
        display: inline-block;
        border: 1px solid;
        margin-right: -14px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        padding: 17px 88px;
        min-width: 251px;
    }
    &__input {
        height: 61px;
        border: 1px solid;
        width: 245px;
    }
}
.form-price {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-bottom: 27px;
}
.ui-slider{
    height: 2px;
    width: 365px;
    background-color: $gray;
    border: none !important;
    border-radius: 0;
    margin-left: 62px;
    &-handle{
        width: 6px!important;
        height: 6px!important;
        background-color: $gray!important;
        background-image: none !important;
        border-radius: 0;
        top: calc(50% - 3px);


    }
}
    .ui-slider-range-min{
        height: 2px;
        background-color: $gray;
        border: none !important;
        border-radius: 0;
        background-image: none !important;
    }


.form-item__numbers{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 365px;
    margin-left: 63px;
}
.form-button {
    display: flex;
    justify-content: space-between;
    width: 461px;
}
.btn-close {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: $gray;
    position: relative;
    transition: 0.2s ease;
    flex-basis: 52%;
    &:hover {
        color: $gray-hover;
    }
    &::before {
        content: "";
        position: absolute;
        top: calc(50% - 6px);
        right: 27px;
        width: 12px;
        height: 12px;
        background-image: url(../img/close.svg);
        background-size: cover;
    }
}
.btn-send {
    background-color: $gray;
    color: $white;
    font-size: 1.12rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    width: 220px;
    height: 60px;
    transition: 0.2s ease;
    flex-basis: 48%;
    &:hover {
        background-color: $gray-hover;
    }
}
.section-village {
}
.village {
    margin-bottom: 145px;
    &-text {
        text-align: center;
        margin: 0 auto;
        max-width: 576px;

        &__title {
            margin-bottom: 31px;
        }
        &__description {
            margin-bottom: 98px;
        }
    }
    &-line {
        display: block;
        height: 1px;
        width: 1290px;
        background-color: #827686;
        opacity: 0.5;
        margin-left: 7px;
        margin-bottom: 43px;
    }
    .slick-dots {
        padding-bottom: 34px;
        position: absolute;
        top: -48px;
    }
    .slick-dots button {
        height: 2px;
        width: 400px;
        background-color: transparent;
        margin-right: 43px;
    }
    .slick-active button {
        height: 2px;
        width: 400px;
        background-color: $gray;
    }
}
.slider-item {
    min-height: 550px;
    position: relative;
    border: 1px solid $gray;
    margin: 0 10px;
    cursor: pointer;
    &__text {
        position: absolute;
        left: 29px;
        bottom: 4px;
        &-title {
            font-size: 1.87rem;
            font-weight: 700;
            color: $white;
            margin-bottom: 8px;
        }
        &-description {
            color: $white;
            margin-bottom: 28px;
        }
        &-price {
            font-size: 1.87rem;
            color: $gray;
            font-weight: 700;
        }
        &-info {
            color: $gray;
            margin-bottom: 12px;
        }
    }
    &__thub {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 415px;
        &-image {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
    .like {
        right: -363px;
        top: -72px;
        &:hover {
            background-color: $gray-hover !important;
        }
        &:focus {
            background-color: $gray-hover !important;
        }
    }
}

.slider-list {
    display: flex;
    align-items: center;
    &__item {
        list-style-type: none;
        position: relative;
        margin-left: 64px;
    }
    &__painting {
        &::before {
            content: " ";
            display: block;
            background-image: url(../img/painting.svg);
            width: 20px;
            height: 20px;
            position: absolute;
            top: calc(50% - 10px);
            left: -34px;
        }
    }
    &__area {
        &::before {
            content: " ";
            display: block;
            background-image: url(../img/area.svg);
            width: 18px;
            height: 18px;
            position: absolute;
            top: calc(50% - 10px);
            left: -33px;
        }
    }
    &__home {
        margin-left: 35px;
        &::before {
            content: " ";
            display: block;
            background-image: url(../img/home.svg);
            width: 20px;
            height: 20px;
            position: absolute;
            top: calc(50% - 10px);
            left: -31px;
        }
    }
}
.slick-prev,
.slick-next {
    position: absolute;
    background-color: transparent;
    border: none;
    top: -58px;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 27px;
    height: 27px;
    opacity: 0.4;
    transition: 0.2s ease;
    border: 1px solid $gray;
    cursor: pointer;
    background-size: 17px 15px;
    &:hover {
        opacity: 1;
    }
    &:focus {
        outline: none;
    }
}
.slick-prev {
    right: 47px;
    background-image: url(../img/arrow.svg);
    transform: rotate(180deg);
}
.slick-next {
    right: 0px;
    background-image: url(../img/arrow.svg);
}

.section-city {
    margin-bottom: 149px;
}
.city {
    &-text {
        text-align: center;
        margin: 0 auto;
        max-width: 515px;

        &__title {
            margin-bottom: 33px;
        }
        &__description {
            margin-bottom: 81px;
        }
    }
}
.catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-bottom: 55px;
}
.catalog-item {
    min-height: 550px;
    position: relative;
    border: 1px solid $gray;
    cursor: pointer;
    flex-basis: 463px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    box-sizing: border-box;
    &__text {
        position: absolute;
        left: 29px;
        bottom: 4px;
        &-title {
            font-size: 1.87rem;
            font-weight: 700;
            color: $white;
            margin-bottom: 8px;
        }
        &-description {
            color: $white;
            margin-bottom: 31px;
        }
        &-price {
            font-size: 1.87rem;
            color: $gray;
            font-weight: 700;
        }
        &-info {
            color: $gray;
            margin-bottom: 12px;
        }
        &-like {
            height: 40px !important;
            width: 40px !important;
        }
    }
    &__thub {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 415px;
        &-image {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
    .like {
        right: -363px;
        top: -72px;
    }
}

.catalog-list {
    display: flex;
    align-items: center;
    &__item {
        list-style-type: none;
        position: relative;
        margin-left: 64px;
    }
    &__painting {
        &::before {
            content: " ";
            display: block;
            background-image: url(../img/painting.svg);
            width: 20px;
            height: 20px;
            position: absolute;
            top: calc(50% - 10px);
            left: -34px;
        }
    }
    &__home {
        margin-left: 29px;
        &::before {
            content: " ";
            display: block;
            background-image: url(../img/home.svg);
            width: 20px;
            height: 20px;
            position: absolute;
            top: calc(50% - 10px);
            left: -31px;
        }
    }
}
.city-bottom {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: $gray;
    position: relative;
    margin: 0 auto;
    transition: 0.2s ease;
    padding-left: 0px;
    padding: 0;
    padding-right: 0px;
    padding-right: 22px;
    &::before {
        content: "";
        position: absolute;
        top: calc(50% - 6px);
        right: -1px;
        width: 12px;
        height: 14px;
        background-image: url(../img/arrow.svg);
        background-size: cover;
    }
    &:hover {
        color: $gray-hover;
    }
}
.section-plan {
    margin-bottom: 138px;
}
.plan {
    &-text {
        text-align: center;
        margin: 0 auto;
        max-width: 700px;
        &__title {
            margin-bottom: 26px;
        }
        &__description {
            margin-bottom: 63px;
        }
    }
}
.plan-tabs {
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: blue orange;
    &__1 {
        background-image: url(../img/plan.png) !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        height: 630px;
        width: 1920px;
        position: relative;
    }
    &__2 {
        background-image: url(../img/plan.png) !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        height: 630px;
        width: 1920px;
    }
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 52px !important;
        &-item {
            margin-left: 36px !important;
            &:first-child {
                margin-left: 0 !important;
            }
        }
        &-line {
            display: block;
            height: 25px;
            width: 1px;
            background-color: $gray;
        }
    }
}
.ui-tabs {
    position: relative;
    background-image: none;
    background-color: transparent;
    border: none !important;
    box-shadow: none;
}
.ui-tabs-nav {
    background-image: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.ui-tabs-tab {
    border: none !important;
    background-color: transparent !important;
    background-image: none !important;
    list-style-type: none !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
}
.ui-tabs-active {
    color: $gray !important;
    padding: 0 !important;
    color: $gray-hover !important;
    &:hover {
        color: $gray !important;
    }
}
.ui-tabs-anchor {
    border: none;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 1.12rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.coment {
    position: absolute;
    &-item {
        position: relative;
        width: 140px;
        height: 50px;
        text-align: center;
        background-color: $gray;
        color: $white;
        &:before {
            content: " ";
            position: absolute;
            width: 0;
            height: 0;
            left: 68px;
            top: 50px;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 30px solid #302d32;
        }
        &__title {
            font-size: 0.75rem;
            font-weight: 500;
            text-transform: uppercase;
            padding-top: 17px;
            letter-spacing: 0.2rem;
        }
        &__description {
            font-size: 0.75rem;
        }
    }
    a {
        position: absolute;
        display: block;
        transition: 0.2s ease;
        &:hover {
            background-color: $gray-hover;
            opacity: 0.5;
        }
    }
}
.coment-item-1 {
    height: 80px;
    width: 160px;
    &::before {
        left: 124px;
        top: 76px;
    }
}
.coment-1 {
    bottom: 253px;
    left: 442px;
    .coment-item__title {
        padding-top: 16px;
    }
    &-link {
        width: 246px;
        height: 165px;
        right: -41px;
        bottom: -193px;
    }
}
.coment-2 {
    top: 138px;
    left: 297px;
    &-link {
        width: 191px;
        height: 134px;
        right: 3px;
        bottom: -140px;
    }
}
.coment-3 {
    top: 10px;
    left: 46.5%;
    &-link {
        width: 191px;
        height: 85px;
        right: -12px;
        bottom: -114px;
    }
}
.coment-4 {
    top: 31px;
    left: 59%;
    &-link {
        width: 191px;
        height: 165px;
        right: -41px;
        bottom: -176px;
    }
}
.coment-5 {
    top: 5px;
    left: 83%;
    &-link {
        width: 191px;
        height: 165px;
        right: 25px;
        bottom: -169px;
    }
}
.section-about {
    margin-bottom: 179px;
}
.about {
    &-text {
        text-align: center;
        margin: 0 auto;
        max-width: 670px;
        &__title {
            margin-bottom: 26px;
        }
        &__description {
            margin-bottom: 63px;
        }
    }
}
.about-list {
    display: flex;
    align-items: center;
    max-width: 1347px;
    padding-left: 40px;
    margin-top: 166px;
    &__item {
        list-style-type: none;
        position: relative;
        font-size: 0.75rem;
        font-weight: 700;
        letter-spacing: 0.138rem;
        line-height: 17px;
        text-align: center;
        min-height: 40px;
        text-transform: uppercase;
        flex-basis: 25%;
        &::before {
            content: "";
            content: "";
            position: absolute;
            top: -85px;
            left: calc(50% - 32px);
            width: 65px;
            height: 65px;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    &__sketch {
        &::before {
            background-image: url(../img/about/sketch.svg);
        }
    }
    &__price {
        &::before {
            background-image: url(../img/about/price.svg);
        }
    }
    &__time {
        &::before {
            background-image: url(../img/about/time.svg);
        }
    }
    &__quality {
        &::before {
            background-image: url(../img/about/quality.svg);
        }
    }
}
.section-news {
}
.news {
    margin-bottom: 204px;
    &-text {
        text-align: center;
        margin: 0 auto;
        max-width: 670px;
        &__title {
            margin-bottom: 26px;
        }
        &__description {
            margin-bottom: 93px;
        }
    }
    &-line {
        display: block;
        height: 1px;
        width: 1290px;
        background-color: #827686;
        opacity: 0.5;
        margin-left: 7px;
        margin-bottom: 43px;
    }
    .slick-dots {
        padding-bottom: 34px;
        position: absolute;
        top: -48px;
    }
    .slick-dots button {
        height: 2px;
        width: 400px;
        background-color: transparent;
        margin-right: 43px;
    }
    .slick-active button {
        height: 2px;
        width: 400px;
        background-color: $gray;
    }
}
.slider {
    margin-left: -10px;
    &-child {
        position: relative;
        min-height: 400px;
        margin: 0 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-image: url(../img/bg-news.png);
        color: $gray;
        
        &:hover{
            color: $white;
        }
        &:hover a{
            color: $white;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            display: block;
            background-color: $white;
            width: 100%;
            height: 100%;
            transition: 0.3s ease;
        }
        &:hover::before {
            content: "";
            display: none;
        }
        &__content {
            position: absolute;
            left: 29px;
            bottom: 38px;
            max-width: 370px;
            z-index: 1;
           
            &-date {
                font-size: 0.75rem;
                opacity: 0.6;
                margin-bottom: 9px;
            }
            &-description {
                margin-bottom: 21px;
            }
            &-link {
                text-decoration: none;
                opacity: 0.8;
                position: relative;
                color: $gray;
                padding-right: 7px;
                &:hover{
                    text-decoration: none;
                }
            }
            &-arrow{
                height: 15px;
            }
        }
        &__1{
            color: $white;
            &::before{
                content: '';
                display: none;
            }
            .slider-child__content-link{
                color: $white;
            }
        }
    }
}
